<a class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" (click)="openAddEditModal('Add', '' )">Add Product </a>
<!-- Modal use inside side bar in Add Catogary button  [routerLink]="['expense']" -->


<app-add-edit-catogary *ngIf="addEditModal" [modalObject]="modalObjectParent" (closeAddEditModal)="closeAddEditModal($event)"></app-add-edit-catogary>






<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let allproduct of List">
            <td>{{allproduct.id}}</td>
            <td>{{allproduct.catogary}}</td>
            <td>{{allproduct.description}} </td>
            <td>
                <!-- <a [routerLink]="['',allproduct.id,'edit']" class="btn"> Edit </a> -->
                <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" (click)="openAddEditModal('edit',allproduct.id)">Edit </a>
                <button class="btn btn-danger"(click)="categoryDel(allproduct.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
