

<table class="table table-bordered" *ngIf="clntdata">
    <tbody>
        <tr>
            <td ><p><b>Name:</b> {{clntdata.name}}</p></td>
            <td><p><b>Name Of Job:</b> {{ clntdata.jobName}}</p></td>
        </tr>
        <tr>
            <td><p><b> Name Of Company:</b> {{clntdata.companyName}}</p></td>
            <td><p><b> Email:</b> {{clntdata.email}}</p></td>
        </tr>
        <tr>
            <td><p><b> Adress:</b> {{clntdata.adress}}</p></td>
            <td><p><b>Phone :</b> {{clntdata.phone}}</p></td>
        </tr>
        <tr>
            <td><p><b> Profile:</b> {{clntdata.profile}}</p></td>
            <td><p><b> Type Of Company:</b> {{clntdata.companyType}}</p></td>
        </tr>
        <tr>
            <td><p><b> Status:</b> {{clntdata.status}}</p></td>
            <td><p><b> Whatsapp:</b> {{clntdata.whatsApp}}</p></td>
        </tr>
        <tr>
            <td><p><b>Paypal:</b> {{clntdata.paypal}}</p></td>
            <td><p><b>Skype Id:</b> {{clntdata.skypeId}}</p></td>
        </tr>
    </tbody>
</table>
<app-job-service></app-job-service>
<!-- <button (click)="jobService()" >Jobs Services</button> -->
