<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{categoryType.type}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="modalClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body" >
    <table class="table table-bordered" >
        <thead>
            <tr>
            <th scope="col">#id</th>
            <th scope="col">Date</th>
            <th scope="col">Service</th>
            <th scope="col">Quantity</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of delatelsts">
                <td>{{data.id}}</td>
            <td>{{data.date}}</td>
            <td>{{data.service}}</td>
            <td>{{data.quantity}}</td>
            <td>
                <!-- <button (click)="openModal('Edit',data.id)" class="btn btn-success">Edit</button>
                <button (click)="historyModal(data.id)" >View</button> -->
            </td>   
        </tr>
        <tr>
            <td>{{categoryType.id}}</td>
            <td>{{categoryType.date}}</td>
            <td>{{categoryType.service}}</td>
            <td>{{categoryType.quantity}}</td>
            <td>Current</td>
        </tr>
    </tbody>
   
</table>
</div>
<div class="modal-footer"> 
    <button (click)="okey()" class="btn btn-outline-dark">ok</button>
  
  </div>