



<!-- Side bar -->
<!-- <div class="sidebar-sticky">
  <ul class="nav flex-column">
  
    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-secondary" [routerLink]="['categoryList']">Category List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-secondary" [routerLink]="['expenseList'] ">Expense List</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-secondary" [routerLink]="['client'] ">Client</a>
    </li>
  </ul>
</div> -->



<div class="bg-info text-white border-right" id="sidebar-wrapper">
  <!-- <div class="sidebar-heading">WPS </div> -->
  <div class="list-group list-group-flush">

    <a href="#" [routerLink]="['categoryList']" class="list-group-item list-group-item-action bg-primary text-white">Category List</a>

    <a href="#"  [routerLink]="['expenseList'] " class="list-group-item list-group-item-action bg-primary text-white">Expense List</a>

    <a href="#" [routerLink]="['client'] " class="list-group-item list-group-item-action bg-primary text-white">Client</a>
   
  </div>
</div>






