<div class="container">
    <div class="row">
        <div class="col md-6">
            <h2 class="text-danger">login works!</h2>
            <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" >
                <label>Email Id</label>
                <input type="text" name="email" placeholder="youremail@yahoo.com" formControlName="email"> 
                <br>
                <div *ngIf="submitted && f.email.errors">
                    <span style="color: red;" *ngIf="f.email.errors.required ">Please enter Email</span>
                </div>
                <br>
                <label>PASSWORD</label>
                <input type="password" name="password" placeholder="******" formControlName="password"> 
                <br>
                <div *ngIf="submitted && f.password.errors">
                    <span style="color: red;" *ngIf="f.password.errors.required ">Please enter Password</span>
                    <span style="color: red;" *ngIf="f.password.errors.minlength ">Password must be 3 letter</span>
                </div>
                <br>
                <button >CONTINUE</button>
            </form>
        </div>
    </div>
</div>

<button class="btn btn-danger" (click)="triggerModal(modalData)">Open Modal</button>

<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Angular Bootstrap Modal Popup</h4>
    <button type="button" class="close" aria-label="Close" (click)="getDismissReason('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="text-primary">"Agatha Harkness"</span> profile?</strong></p>
    
    <p>All data related to west view profile will be removed permanently.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>
