<!-- <div class="modal fade"  id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{modalObject.modalHeader}} Catogary</h5>
        <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
        <div class="modal-body">
          <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">           
           
            <div class="form-group">
          <label> Name Of Catogary </label><br>
          <input type="text" placeholder="name" formControlName="catogary"><br>
          </div>
          <div class="form-group">
          <label> Catogary Description </label><br>
          <textarea class="form-control" placeholder="description" formControlName="description"></textarea><br>
        </div>
       
        <div class="modal-footer"> -->
        <!-- <button type="button"  class="btn btn-secondary" data-dismiss="modal" 
        (click)="closeModal()">Close</button>
        <button type="submit"   class="btn btn-primary"  >Save changes</button>
        </div> -->
      <!-- </form> -->

    <!-- </div>
    </div>
  </div>
</div>   -->

<!-- puran sir -->
 <!-- <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalObject.modalHeader}} Catogary</h4>
   <button type="button" class="close" aria-label="Close" (click)="getDismissReason('Cross click')">
      <span aria-hidden="true">×</span>
    </button> 
  </div>

  <div class="modal-body">
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">           
     
      <div class="form-group">
    <label> Name Of Catogary </label><br>
    <input type="text" placeholder="name" formControlName="catogary"><br>
    </div>
    <div class="form-group">
    <label> Catogary Description </label><br>
    <textarea class="form-control" placeholder="description" formControlName="description"></textarea><br>
  </div>
 
   <div class="modal-footer"> 
   <button type="button"  class="btn btn-secondary" data-dismiss="modal" 
  (click)="closeModal()">Close</button>

  <button type="submit"   class="btn btn-primary"  >Save changes</button>
  <button type="submit" class="btn btn-primary">
    Save </button>
  </div>
</form>
</div>  -->


<!-- Vikash -->

<!-- <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalObject}} Catogary</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">           
     
      <div class="form-group">
    <label> Name Of Catogary </label><br>
    <input type="text" placeholder="name" formControlName="catogary"><br>
    </div>
    <div class="form-group">
    <label> Catogary Description </label><br>
    <textarea class="form-control" placeholder="description" formControlName="description"></textarea><br>
  </div>
 
   <div class="modal-footer"> 
  <button type="submit" class="btn btn-primary" (click)="c('Save click')">Save</button> 
  </div>

</form>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">  
  {{modalObject}} Catogary </button>
 -->

<!-- puran sir -->



<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{categoryType.categoryNam }} Catogary</h4>
  <button type="button" class="close" aria-label="Close" (click)="modalClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">           
     
    <div class="form-group">
  <label> Name Of Catogary </label><br>
  <input type="text" placeholder="name" formControlName="catogary"><br>
  </div>
  <!-- validators message -->
  <div *ngIf="submitted && f.catogary.errors">
    <span style="color: red;" *ngIf="f.catogary.errors.required ">Please enter Catogary</span>
</div>
  <div class="form-group">
  <label> Catogary Description </label><br>
  <textarea class="form-control" placeholder="description" formControlName="description"></textarea><br>
</div>
<div class="form-group">
  <input type="radio" id="Active" value="Active"  formControlName="status">
    <label for="Active">Active</label>
    <input type="radio" id="Inactive"  value="Inactive" formControlName="status">
    <label for="Inactive">Inactive</label><br>
</div>
 <!-- validators apply message -->
<div *ngIf="submitted && f.status.errors">
  <span style="color: red;" *ngIf="f.status.errors.required ">Please Select </span>
</div>

 <div class="modal-footer"> 
  <button type="submit" class="btn btn-outline-dark">Save</button>

</div>

</form>
</div>
